<form asp-action="Create">
    <input type="float" name="weight" placeholder="Cân nặng (kg)">
    <input type="float" name="hight" placeholder="Chiều cao (m)">
    <input type="submit" value="Gửi">
</form>
<h2>@ViewBag.Message</h2>