<form asp-action="Index">
    <label>Tên Món </label>
<input type="text" name="TenMon"/>  
<br />
<label>Số lượng</label>
<input type="number" name="SoLuong"/>
<br />
<label>Đơn giá</label>
<input type="number" name="DonGia"/>
<br />
<button type="submit">Tính tiền</button>
</form>

<h1>@ViewBag.infoHoaDon</h1>