<form asp-action="Index">
    <label> Nhập mã đại lý</label>
    <input type="text" name="MaDaiLy" />
    <br/>
    <label> Nhập tên đại lý</label>
    <input type="text" name="TenDaiLy" />
    <br/>
    <label> Nhập địa chỉ</label>
    <input type="text" name="DiaChi" />
    <br/>
    <label> Nhập số điện thoại</label>
    <input type="text" name="DienThoai" />
    <br/>
    <label> Nhập tên người đại diện</label>
    <input type="text" name="NguoiDaiDien" />
    <br/>
    <label> Nhập mã hệ thống phân phối</label>
    <input type="text" name="MaHTPp" />
    <br/>
    <input type="submit" value="Gửi dữ liệu" />
</form>

<h1>@ViewBag.message</h1>